<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    {# Title
       -----
       Use this block to set the page title
    #}
    <title>{% block title %}Rgou Bootstrap Bundle{% endblock title %}</title>

    {# Metatags
       --------
       Use these blocks to set the viewport, description and keywords
    #}
    <meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1.0{% endblock meta_viewport %}">
    <meta name="description" content="{% block meta_description %}change,me,block,meta_description{% endblock meta_description %}" />
    <meta name="keywords" content="{% block meta_keywords %}change,me,block,meta_keywords{% endblock meta_keywords %}" />
    
    {# Main Stylesheets
       ----------------
       Use this block in Layouts to set global stylesheets
       or if you want to overwride
    #}
    {% block head_stylesheets %}{% endblock head_stylesheets %}
    
    {# Additional Stylesheets
       ----------------------
       Use this block anywhere in templates to add additional stylesheets
       without overwriding  global stylesheets
    #}
    {% block stylesheets %}{% endblock stylesheets %}
    
    {# Additional Javascripts on head 
       ------------------------------
       Use this block to put some javascritps on the HEAD
       But preferably use "footer_javascripts" and "javascritps" blocks below
       for better loading performance
    #}
    {% block head_javascripts %}{% endblock head_javascripts %}


    {# Favicon
       --------
       Use this block to set the favicon
    #}
    <link rel="shortcut icon" href="{% block favicon %}{{ asset('favicon.ico') }}{% endblock favicon %}" />
    
    {# Extra Head
       ----------
       Use this block to set anything more in the HEAD
    #}
    {% block head_extra %}{% endblock head_extra %}
    
</head>

{# Body
   ----
   Body block. Use with careful, overwrides A LOT of blocks!
#}
{% block body %}

{# Body Attributes
   ---------------
   Useful for javascripts or class overwrides, but preferably use
   jQuery.ready for body onload stuffs
#}
<body {% block body_attributes %}{% endblock body_attributes %}>
    
    {# Top Navigation Bar
       ------------------
       Use a "navbar navbar-fixed-top" to be fix on top
       and navbar-default / navbar-inverse / none for color patterns
       <header class="navbar navbar-default navbar-fixed-top">
       </header>
    #}
    {% block navbar_top %}
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block navbar_top_brand %}
                <a class="navbar-brand" href="/">Your Brand</a>
                {% endblock navbar_top_brand %}
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right top-spy" role="navigation">
                {% block navbar_top_content %}
                <ul>
                    <li><a href="">Sample Menu Item 1</a></li>
                    <li><a href="">Sample Menu Item 2</a></li>
                </ul>
                {% endblock navbar_top_content %}
            </nav>

        </div>
    </header>
    {% endblock navbar_top %}
    
    {# Bottom Navigation Bar
       ---------------------
       DEFAULT: EMPTY
       Use a "navbar navbar-fixed-bottom" to be fix on top
       and navbar-default / navbar-inverse / none for color patterns
       <div class="navbar navbar-default navbar-fixed-bottom">
       </div>
    #}
    {% block navbar_bottom %}{% endblock navbar_bottom %}
    
    {# Main Container 
       --------------
       Use this block to overwride all containers but navbars and footer
    #}
    {% block container %}
        
    <div class="container">

        <div class="content">

            {# Page Header
               -----------
               Page header block, you'll overwride in every page
               use <div class="page-header"> for consistency, but feel free
               to do whatever you want
            #}
            {% block page_header %}
            <div class="page-header">
                  {# Headline
                     -----------
                     If you want to save some lines using the default "page-header" class
                     just use this block in your templates
                  #}
                  <h1>{% block headline %}Rgou Bootstrap Bundle{% endblock headline %}</h1>
            </div>
            {% endblock page_header %}            

            {# Alerts
               ------
               Flash messages template
            #}
            {% block alerts %}
            {% set types = ['notice','error','success','info'] %}
            {% for type in types %}
                {% for flashMessage in app.session.flashbag.get(type) %}
                <div class="alert alert-{{ type }}">
                    <p>{{ flashMessage | trans({}, 'rgoubootstrap') | raw}}</p>
                </div>
                {% endfor %}
            {% endfor %}            
            {% endblock alerts %}
            
            
            {# Content
               -------
               THE content of the page that want to show
            #}
            {% block content %}{% endblock content %}
                
        </div>
        
    </div>
        
    {% endblock container %}
    
    {# Footer
       ------
        Full footer for overwride
    #}
    {% block footer %}
    <footer class="footer">
        <div class="container">
        {# Footer Content
           --------------
            Only the footer content to be over overwride
        #}
        {% block footer_content %}
                <p><a href="http://github.com/rafaelgou/RgouBootstrapBundle" target="_blank">Rgou Bootstrap Bundle</a> &copy; <a href="http://tech.rgou.net" target="_blank">Rafael Goulart</a> 2013</p>
        {% endblock footer_content %}
        </div>                
    </footer>
    {% endblock footer %}
        
    
    {# Main Javascripts on footer
       --------------------------
       Here you put the MAIN javascripts for better loading performance
       You'd better use this block in global layouts an don't overwride
       e.g. jQuery, jQuery plugins and Bootstrap (CDN also!) and
       your local global javascript

    #}
    {% block footer_javascripts %}{% endblock footer_javascripts %}     

    {# Additional Javascripts on footer 
       --------------------------------
       Use this block in templates for inline or include javascripts
       needed only on that context
       SPECIALLY use this for jQuery.ready content
    #}
    {% block javascripts %}{% endblock javascripts %}
    
</body>
{% endblock body %}
</html>
