{% extends 'RgouBootstrapBundle::base.html.twig' %}

{% block head_stylesheets %}
        <link href="{% block main_boostrap_css %}//netdna.bootstrapcdn.com/twitter-bootstrap/3.0.0/css/bootstrap-combined.no-icons.min.css{% endblock main_boostrap_css %}" type="text/css" rel="stylesheet" media="screen,print" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" type="text/css" rel="stylesheet" media="screen" />
    {% stylesheets
    'bundles/rgoubootstrap/chosen/chosen.css'
    'bundles/rgoubootstrap/bootstrap-plugins/typeahead/bootstrap.css'
    'bundles/rgoubootstrap/css/main.css'
    output='css/compiled-cdn.css'
    filter='cssrewrite'
    filter='yui_css'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen,print" />
    {% endstylesheets %}
{% endblock head_stylesheets %}

{% block head_javascripts %}
{# Additional Javascripts on head #}
{% endblock head_javascripts %}

{% block navbar_top_brand %}
            <a class="navbar-brand" href="#">Rgou</a>
{% endblock navbar_top_brand %}

{% block navbar_top_content %}
{{ knp_menu_render('samplemain') }}
{{ knp_menu_render('sampleuser') }}
{% endblock navbar_top_content %}

{% block footer_javascripts %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js"></script>
{% javascripts
    'bundles/rgoubootstrap/js/jquery.localScroll.js'
    'bundles/rgoubootstrap/js/jquery.scrollTo.js'
    'bundles/rgoubootstrap/js/main.js'
    filter='yui_js' 
    output='js/compiled-cdn.js'
%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock footer_javascripts %}     

