{% extends 'RgouBootstrapBundle::base.html.twig' %}

{% block head_stylesheets %}
    {% stylesheets
    'bundles/rgoubootstrap/bootstrap/css/bootstrap-theme.min.css'
    'bundles/rgoubootstrap/font-awesome/css/font-awesome.min.css'
    'bundles/rgoubootstrap/chosen/chosen.css'
    'bundles/rgoubootstrap/bootstrap-plugins/typeahead/bootstrap.css'
    'bundles/rgoubootstrap/css/main.css'
    output='css/compiled.css'
    filter='cssrewrite' 
    filter='yui_css' 
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen,print" />
    {% endstylesheets %}
{% endblock head_stylesheets %}

{% block head_javascripts %}
{# Additional Javascripts on head #}
{% endblock head_javascripts %}

{% block navbar_top_brand %}
            <a class="navbar-brand" href="#">Rgou</a>
{% endblock navbar_top_brand %}

{% block navbar_top_content %}
{{ knp_menu_render('samplemain') }}
{{ knp_menu_render('sampleuser') }}
{% endblock navbar_top_content %}
            
{% block footer_javascripts %}
    {% javascripts
        'bundles/rgoubootstrap/js/jquery-1.10.2.js'
        'bundles/rgoubootstrap/bootstrap/js/bootstrap.js'
        'bundles/rgoubootstrap/js/underscore.js'
        'bundles/rgoubootstrap/bootstrap-plugins/typeahead/typeahead.js'
        'bundles/rgoubootstrap/js/jquery.localScroll.js'
        'bundles/rgoubootstrap/js/jquery.scrollTo.js'
        'bundles/rgoubootstrap/chosen/chosen.jquery.js'
        'bundles/rgoubootstrap/js/main.js'
        filter='yui_js' 
        output='js/compiled.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock footer_javascripts %}     

